<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ack" />
  <package id="avastfreeantivirus" />
  <package id="Console2" />
  <package id="curl" />
  <package id="ditto" />
  <package id="dropbox" />
  <package id="FoxitReader" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="grepwin" />
  <package id="IrfanView" />
  <package id="javaruntime" />
  <package id="keepass" />
  <package id="launchy" />
  <package id="notepadplusplus" />
  <package id="phpstorm" />
  <package id="procexp" />
  <package id="putty" />
  <package id="skype" />
  <package id="SourceCodePro" />
  <package id="spybot" />
  <package id="sublimetext2" />
  <package id="SublimeText2.PackageControl" />
  <package id="teamviewer" />
  <package id="treesize.free" />
  <package id="vagrant" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="vlc" />
  <package id="wget" />
  <package id="winmerge" />
</packages>